/* reset -------------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
aside, canvas, details, figcaption, figure,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul, ol, dl, p {
  margin-bottom: 1em;
}

li {
  margin-left: 2em;
  margin-bottom: .5em;
}

body {
  line-height: 1;
}

aside,canvas,details,figcaption,figure,summary {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote: before, blockquote: after,
q: before, q: after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: #00243e;
}

a:active {
  color: #ff7200;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* blog --------------------------------------------------------------------- */

.menu,
#content {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 50em;
}

#primary {
  margin: 0;
}

#main {
  display: block;
  clear: both;
}

/* navigation --------------------------------------------------------------- */

#navigation {
  display: block;
  float: left;
  margin: 0 auto 2em auto;
  width: 100%;
  background: #ccc;
}
#navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
#navigation li {
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
}
#navigation a {
  display: block;
  line-height: 2em;
  padding: 0 1em;
  text-decoration: none;
  color: black;
}
#navigation li:hover > a, #navigation a.current {
  background: #333;
  color: #fff;
}

/* socialmenu --------------------------------------------------------------- */

#socialmenu ul {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 7em;
  left: 0;
  list-style: none;
  z-index: 9999;
}
#socialmenu ul li {
  float:top;
}
#socialmenu ul li a {
  display: block;
  margin-left: -2em;
  width: 32px;
  height: 32px;
  background-color:#ccc;
  background-repeat:no-repeat;
  background-position:center center;
  border:1px solid #AFAFAF;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  -moz-box-shadow: 0px 3px 2px #ccc;
  -webkit-box-shadow: 0px 3px 2px #ccc;
  /*opacity: 0.6;*/
}
#socialmenu ul a.rss { background-image: url(http://jweslley.github.com/images/rss.png); }
#socialmenu ul a.email { background-image: url(http://jweslley.github.com/images/email.png); }
#socialmenu ul a.twitter { background-image: url(http://jweslley.github.com/images/twitter.png); }
#socialmenu ul a.github { background-image: url(http://jweslley.github.com/images/github.png); }
#socialmenu ul a.linkedin { background-image: url(http://jweslley.github.com/images/linkedin.png); }
#socialmenu ul a.delicious { background-image: url(http://jweslley.github.com/images/delicious.png); }

/* =images TODO
-------------------------------------------------------------- */

a img {
  border: none;
}

/* =comments TODO
-------------------------------------------------------------- */

#respond input[type=text] {
  float: left;
  margin: 0 1em 0 0;
  width: 60%;
}
#respond .comment-form-comment label {
  display: none;
}
#respond textarea {
  margin: 0 1em 1em 0;
  float: left;
  width: 80%;
}
#respond .form-allowed-tags {
  clear: both;
  width: 80%;
}
#respond .form-allowed-tags code {
  display: block;
}

/* macro -------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: helvetica, arial, sans-serif;
}

/* blog header -------------------------------------------------------------- */
#header {
  background: black;
  background: black -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #56585b), color-stop(.5, #262728), color-stop(1, black));
  background: black -moz-linear-gradient(top, #56585b, #262728 50%, black);
  display: block;
  width: 100%;
  padding: 1em 0;
  margin: 0;
}

#header h1 {
  color: white;
  text-align: center;
}

#header a {
  color: white;
  text-decoration: none;
  padding-bottom: .1em
}

/* post --------------------------------------------------------------------- */
.post {
  padding: 2em;
  background: white;
  margin-bottom: 3em;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0, .5);
  -moz-box-shadow:    0 0 5px rgba(0,0,0, .5);
  -box-shadow:        0 0 5px rgba(0,0,0, .5);
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6 {
  font-family: LeagueGothicRegular, helvetica, arial, sans-serif;
  line-height: 1em;
  margin-bottom: .25em;
}

/* post metadata ------------------------------------------------------------ */

.post-meta {
  padding: 0 0 1em 0;
  margin:  1em 0;
  border-bottom: 1px solid #eee;
  color: #666;
}

.post-meta a {
  color: #333;
}

.post-meta-label {
  font-style: italic;
  font-family: georgia, serif;
  color: #999;
}

/* post header -------------------------------------------------------------- */
.post-header {
  margin-bottom: 2em;
}

.post-header h1 {
  padding: 0;
  font-size: 3em;
}

.post-header h1 a {
  text-decoration: none;
  color: black;
}

/* post body ---------------------------------------------------------------- */
.post-content {
  font-family: georgia, serif;
  line-height: 150%;
  font-size: 125%;
}

.post-content h1 { font-size: 3em;   }
.post-content h2 { font-size: 2em;   }
.post-content h3 { font-size: 1.75em;}
.post-content h4 { font-size: 1.5em; }
.post-content h5 { font-size: 1.25em;}
.post-content h6 { font-size: 1em;   }
.post-content p { text-align: justify; }

.post-content img {
  max-width: 100%;
  padding: 6px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

code, .highlight {
  font-family: InconsolataMedium, 'Bitstream Vera Sans Mono', Courier, monospace;
  border: 1px solid #dedede;
  background-color:#f8f8ff;
  line-height: 1.1em;
  font-size: .8em;
}

.highlight {
  padding: .3em;
  margin-bottom: 1.5em;
  word-wrap: normal;
  overflow: auto;
}

blockquote {
  margin: 1em;
  padding: .5em 1em;
  border-left: 5px solid #fce27c;
  background-color: #f6ebc1;
}
blockquote p {
  margin: 0;
}


/* post footer -------------------------------------------------------------- */
.post-footer {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #eee;
}

/* blog footer -------------------------------------------------------------- */
#footer {
  margin: 0;
  padding: 1em;
  background: black;
}

.copy {
  width: 80%;
  max-width: 50em;
  color: #dedede;
  margin: 0 auto;
  text-align: center;
}

.copy a {
  color: #3333ff;
  text-decoration: none;
}

