
body {
  margin:0;
  padding:0;
  background-color:#ffffff;
  font-family: sans-serif;
  font-size:1em;
}

a {
  color:#00c;
  text-decoration:none;
}

a:hover {
  color:#00c;
  text-decoration:underline;
}

a:visited {
  color:#50a;
}

blockquote {
  margin:1em;
  padding:.5em;
  font-size:.9em;
  background-color:#cccccc;
  border-top:1px solid #999999;
  border-bottom:1px solid #999999;
}

blockquote p {
  margin:.2em;
}

#header {
  margin:0.5em 2em 0 2em;
  padding:1em 1.5em 0 1em;
  height:4em;
  background-color:#ffffff;
}

#header h1 { 
  margin:0;
  padding:0;
  font-size:1.8em;
  font-family: georgia, serif;
}

#header h3 { 
  margin:0; 
  padding:0;
  font-size:.9em;
}

#header a {
  text-decoration:none;
  color:#3b6edd;
}

#content, #nosidebar {
  voice-family: "\"}\"";
  voice-family: inherit;
  margin: .2em 0em .2em 2.25em;
  padding:.5em .5em 2em .5em;
  background:#f8f8f8;
  border:1px solid #eee;
  font-size:.9em;
	float: left;
	width: 70%;
}

#nosidebar {
	width: 90%;
}

#content h2, #nosidebar h2 {
  margin:0 0 0em 0; 
  padding:1;
  letter-spacing:.08em;
  font-size:1.8em;
  font-family: georgia, serif;
}

#content h2 a, #nosidebar h2 a {
  color:#3b6edd;
}

.sidebar {
	float: left;
	width: 20%;
  margin-top:.2em;
  margin-left:.5em;
  padding:.7em;
  background:#f8f8f8;
  border:1px solid #eee;
  font-size:.9em;
  font-variant: sans-serif;
}

.sidebar h2 { 
  margin:0 0 -1em 0; 
  padding:0;
  font-size:1em;
  letter-spacing:.1em;
}

.sidebar ul { 
  margin:1.5em 0 0 0; 
  padding:0;
  list-style:none;
}

.sidebar li { 
  margin:0 0 .4em 0; 
  padding:0;
}

.sidebar li a { 
  margin:0 0 0 .2em;
  color:#00c;
  text-decoration:none;
}

.sidebar li a:hover { 
  color:#00c;
  text-decoration:underline; 
}

.sidebar li.icon a {
  display:block;
  height:30px;
  line-height:30px;
  padding-left:30px;
}

.sidebar li.rss a {
  background:url("http://jweslley.github.com/images/rss.png") no-repeat scroll 0 50% transparent;
}

.sidebar li.email a {
  background:url("http://jweslley.github.com/images/email.png") no-repeat scroll 0 50% transparent;
}

.sidebar li.github a {
  background:url("http://jweslley.github.com/images/github.png") no-repeat scroll 0 50% transparent;
}

.sidebar li.twitter a {
  background:url("http://jweslley.github.com/images/twitter.png") no-repeat scroll 0 50% transparent;
}

.sidebar li.linkedin a {
  background:url("http://jweslley.github.com/images/linkedin.png") no-repeat scroll 0 50% transparent;
}

.sidebar li.delicious a {
  background:url("http://jweslley.github.com/images/delicious.png") no-repeat scroll 0 50% transparent;
}


#navigation {
	font-size: 0.9em;
	font-variant: small-caps;
	width: 100%;
	text-align: left;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

#navigation a:hover {
  text-decoration:underline;
}

#footer {
  voice-family: "\"}\"";
  voice-family: inherit;
  padding:1em 0em 1em 0em;
  font-size:.7em;
  text-align:center;
  width:100%;
  display:inline-block;
  overflow:hidden;
}

.rounded-corners {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
}

.blogger-post-wrapper {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #999;
}

.dateHeader {
  font-size:.8em;
}

#Gadget1 h2 {
  margin: 0 0 -0.5em 0;
}

#Gadget1 a { 
  margin:0 0 0 .2em;
  color:#00c;
  text-decoration:none;
}

#Gadget1 a:hover { 
  color:#00c;
  text-decoration:underline; 
}

#BlogArchive2 h2 {
  margin: 1em 0 0.5em 0;
}

#disqus_thread {
  margin-bottom: 130px;
}

#posts p, #tweets p {
  margin: 0.3em 0 1em 0.3em;
}

#posts li, #tweets li {
  list-style-type: none;
  padding: 0;
}

/* Source: http://www.positioniseverything.net/easyclearing.html */
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clearfix {display: inline-table;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

