<div id="osx-modal-content">
  <div id="osx-modal-title">About me</div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="osx-modal-data">
    <img style="float: right;" title="Jonhnny Weslley" alt="Jonhnny Weslley" src="http://www.gravatar.com/avatar/1b70347c9182934213b3262851b60fc1.png" height="80" width="80"/>
    <h3>About The Author</h3>
    <p>
    My name is Jonhnny Weslley. At the time of writing I’m twenty-three. I’ve lived in Campina Grande, Brazil, since 2008. Previously, I lived for most of my life in Caxias, Brazil.
    </p>

    <h3>Research</h3>
    <p>
    I am M.Sc. candidate in the <a href="http://www.ufcg.edu.br/">Federal University of Campina Grande</a>, Brazil, working as research assistant with <a href="http://fubica.lsd.ufcg.edu.br/">Francisco Brasileiro</a> in the <a href="http://www.lsd.ufcg.edu.br/">Distributed Systems Laboratory</a>. My current research concentrates on the design and implementation of the distributed file system <a href="http://www.lsd.ufcg.edu.br/beefs/">BeeFS</a> which focuses on the specific setting of corporate desktop networks, while remaining flexible to add easily new machines to a running system. Previously, I have focused on challenges in implementation of <a href="http://www.hpl.hp.com/personal/Sung-Ju_Lee/abstracts/papers/gp2pc2005.pdf">Nodewiz</a>'s improvements. Nodewiz is a scalable peer-to-peer and fault-tolerant resource and service discovery for overlay networks and grids that supports multi-attribute and range queries.
    </p>
    <p>
    My research interests include parallel programming, MapReduce, distributed data storage and distributed file systems.
    </p>
    <p>
    Feel free to <a href="http://www.google.com/profiles/jonhnnyweslley/contactme?continue=http://www.google.com/profiles/jonhnnyweslley">contact me</a>.
    </p>

    <p><button class="simplemodal-close">Close</button> <span>(or press ESC or click the overlay)</span></p>
  </div>
</div>
