<div id="header">
  <div id="cse">Loading</div>
  <h1><a href="/">Jonhnny Weslley</a></h1>
  <div id="navigation">
    <a href="http://www.jonhnnyweslley.net" title="Jonhnny Weslley's Home Page">home</a> &nbsp; &nbsp;
  	<a href="http://blog.jonhnnyweslley.net" title="Jonhnny Weslley's Blog">blog</a> &nbsp; &nbsp;
		<a href="http://jweslley.github.com/" title="Jonhnny Weslley's OpenSource Projects">projects</a> &nbsp; &nbsp;
		<a href="#" class="osx" rel="me" title="About the author">about</a>
	</div>
</div>

<!-- modal content -->
<div id="osx-modal-content">
  <div id="osx-modal-title">OSX Style Modal Dialog</div>
  <div class="close"><a href="#" class="simplemodal-close">x</a></div>
  <div id="osx-modal-data">
    <h2>Hello! I'm SimpleModal!</h2>
    <p>SimpleModal is a lightweight jQuery Plugin which provides a powerful interface for modal dialog development. Think of it as a modal dialog framework.</p>
    <p>SimpleModal gives you the flexibility to build whatever you can envision, while shielding you from related cross-browser issues inherent with UI development..</p>
    <p>As you can see by this example, SimpleModal can be easily configured to behave like an OSX dialog. With a handful options, 2 custom callbacks and some styling, you have a visually appealing dialog that is ready to use!</p>
    <p><button class="simplemodal-close">Close</button> <span>(or press ESC or click the overlay)</span></p>
  </div>
</div>

