<div id="sidebar" class="rounded-corners"> 
	<h2>Subscribe</h2>
	<ul>
    <li class="icon rss"><a href="http://feeds2.feedburner.com/RaciocinioLateralBlogSpot">Assine via RSS</a></li>
    <li class="icon email"><a href="http://feedburner.google.com/fb/a/mailverify?uri=RaciocinioLateralBlogSpot&loc=pt_BR">Assine via E-mail</a></li>
	</ul>

  <h2>Links</h2>
  <ul>
    <li class="icon twitter"><a href="http://twitter.com/jweslley">Twitter</a></li>
    <li class="icon linkedin"><a href="http://www.linkedin.com/in/jweslley">LinkedIn</a></li>
    <li class="icon delicious"><a href="http://delicious.com/jonhnnyweslley">Bookmarks</a></li>
    <li class="icon github"><a href="http://github.com/jweslley">GitHub</a></li>
  </ul>
</div>
