<div id="sidebar">

  <h3>Me</h3>
  <dl id="contact">
    <dt>Name</dt>
    <dd>Jonhnny Weslley / jweslley</dd>

    <dt>Email</dt>
    <dd><a href="mailto:jonhnnyweslley@gmail.com">jonhnnyweslley@gmail.com</a></dd>

    <dt>About</dt>
    <dd><a href="http://sites.google.com/site/jonhnnyweslley/">About</a></dd>
  </dl>

  <h3>And then some</h3>
  <ul id="profiles">
    <li><a href="http://twitter.com/jweslley">Twitter</a></li>

    <li><a href="http://github.com/jweslley">GitHub</a></li>

    <li><a href="http://www.linkedin.com/in/jweslley">LinkedIn</a></li>
  </ul>

  <h3>Links</h3>
  <ul id="links">
    <li><a href="http://www.antiifcampaign.com">Anti-If Campaign</a></li>
  </ul>  
</div>
