<div id="sidebar"> 
	<h2>Me</h2>
	<ul>
	  <li><a href="/" title="Home">Home</a></li>
    <li><a href="/archives/" title="Blog archives">Archives</a></li>
	  <li><a href="/about/" title="About the author">About</a></li>
	  <li><a href="/contact/" title="Contact information">Contact</a></li>
	</ul>

  <h2>And then some</h2>
  <ul>
    <li><a href="http://github.com/jweslley">GitHub</a></li>
    <li><a href="http://twitter.com/jweslley">Twitter</a></li>
    <li><a href="http://www.linkedin.com/in/jweslley">LinkedIn</a></li>
  </ul>

  <h2>Links</h2>
  <ul>
    <li><a href="http://www.antiifcampaign.com">Anti-If Campaign</a></li>
  </ul> 

</div>
