/*
 * Globals
 */
@import url(https://fonts.googleapis.com/css?family=Inconsolata|Roboto:400,700);

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

code, kbd, pre, samp {
  font-family: "Inconsolata",Menlo,Monaco,Consolas,"Courier New",monospace;
}

pre {
  padding: 16px;
  border-radius: 3px;
  background-color: #f7f7f7;
}

blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  color: #858585;
  border-left: 4px solid #e5e5e5;
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 50rem;
}

header.container {
  padding-bottom: 1.25rem;
}

ol.breadcrumb {
  padding-left: 0px;
  background-color: white;
}

/* Pagination */
.pager {
  margin-bottom: 4rem;
  text-align: left;
}
.pager > li > a {
  width: 8rem;
  padding: .75rem 1.25rem;
  text-align: center;
  border: 0px;
}
.pager > li > a:hover {
  text-decoration: underline;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-post-content h2, .blog-post-content h3 {
  margin-top: 1.5rem;
}


/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

iframe.vimeo-video {
  max-width: 35rem;
}
