<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="Jonhnny Weslley" />
    <meta name="description" content="Jonhnny Weslley's Blog" />
    <meta name="keywords" content="jonhnny weslley, research, distributed, blog, java, scala, ruby, programming" />
    <meta name="gleebox-default-selector" content="#content a" />

    <link rel="me" href="http://www.jonhnnyweslley.net">
    <link rel="alternate" href="http://feeds2.feedburner.com/jweslley" title="Jonhnny Weslley" type="application/atom+xml" />

    <link rel="stylesheet" href="/css/cse.css"     type="text/css"/>
    <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/syntax.css"  type="text/css" media="screen"/>

    <title>
      Jonhnny Weslley
      {% if page.title %}
        / {{ page.title }}
      {% endif %}
    </title>
  </head>
  <body>
    <div id="header">
      <h1>
        <a href="http://www.jonhnnyweslley.net" title="Jonhnny Weslley" rel="home">Jonhnny Weslley</a>
      </h1>
    </div>
    <!-- TODO div id="cse">Loading</div-->

    <div id="navigation">
      <div class="menu">
        <ul>
          <li><a href="http://www.jonhnnyweslley.net" title="Jonhnny Weslley's Home Page">Home</a></li>
          <li><a href="http://blog.jonhnnyweslley.net" title="Jonhnny Weslley's Blog">Blog</a></li>
          <li><a href="http://jweslley.github.com" title="Jonhnny Weslley's Projects" class="current" >Projects</a></li>
        </ul>
      </div>
    </div>

    <div id="socialmenu">
      <ul>
        <li><a href="http://feeds2.feedburner.com/jweslley" class="rss" title="Subscribe via RSS"></a></li>
        <li><a href="http://feedburner.google.com/fb/a/mailverify?uri=jweslley" class="email" title="Subscribe via E-mail"></a></li>
        <li><a href="http://twitter.com/jweslley" class="twitter" title="Twitter"></a></li>
        <li><a href="http://www.linkedin.com/in/jweslley" class="linkedin" title="LinkedIn"></a></li>
        <li><a href="http://delicious.com/jonhnnyweslley" class="delicious" title="Bookmarks"></a></li>
        <li><a href="http://github.com/jweslley" class="github" title="GitHub"></a></li>
      </ul>
    </div>

    <div id="main">
      <div id="primary">
        <div id="content">
          {{ content }}
        </div>
      </div>
    </div>

    <div id="footer">
      <div class="copy">
        Copyright &copy; 2007-2011 <a href="http://www.jonhnnyweslley.net">Jonhnny Weslley</a>. All rights reserved.
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>

